.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;
  display: flex;
}

.info-map {
  background: #000;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  // border: solid white 2px;
  box-shadow: 0 18px 14px rgba(0, 0, 0, 0.3);

  span {
    font-size: 16px;

    span {
      color: #ffd700;
    }
  }
}

.info-box {
  animation-name: boxrotate;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@keyframes boxrotate {
  from,
  to {
    transform: translateX(60%) translateY(25%);
  }
  13% {
    transform: translateX(100%) translateY(0);
  }
  25% {
    transform: translateX(60%) translateY(25%);
  }

  38% {
    transform: translateX(100%) translateY(50%);
  }
  51% {
    transform: translateX(60%) translateY(25%);
  }

  64% {
    transform: translateY(50%) translateX(0);
  }
  77% {
    transform: translateX(60%) translateY(25%);
  }
  88% {
    transform: translateX(0) translateY(0);
  }
}

@media screen and (max-width: 960px) {
  body {
    overflow: visible;
  }
  .contact-page {
    display: flex;
    flex-direction: column;
    .map-wrap {
      margin-top: 40px;
      margin-left: 10%;
      width: 80%;
      height: 400px;
    }
  }
  .info-map {
    width: 200px;
    font-size: 16px;
    box-shadow: 0 18px 14px rgba(185, 174, 174, 0.3);
  }
}
@media screen and (max-width: 560px) {
  .contact-page {
    .map-wrap {
      height: 300px;
    }
  }
  .info-map {
    display: none;
  }
}
